/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.call-interface {
    background-color: rgb(148, 176, 187);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.call-header {
    margin-bottom: 400px;
}

.call-buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    background-color: #e74c3c;
    color: white;
}

.button:not(.red) {
    background-color: #3498db;
    color: white;
}